{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
        {% for items in auction %} 
                <div style="display: inline; float:left;">
                {% if items.image %}   
                <span style="float:right; display: block; margin-left: 100px;"><img  style="margin-left: 10px;  width: 20%; border: 1px solid grey;" src="{{ items.image.url }}"/></span>
                {% endif %}
                <a href="{% url 'listing'  items.title %}">
                     {{ items.title }} 
                </a>
                {% for bid in bids %} 
                {% if bid.auction.id == items.id%}
                <span style="float:right; display: block; margin-left: 100px;">BidPrice: {{ bid.bidPrice }}</span>
                {% endif %}
                {% endfor %}
                <span style="float:right; display: block; margin-left: 100px;">Description: {{ items.description }}</span>
                
            </div>
            
        {% endfor %}
   
{% endblock %}